sphinx
sphinx-autodoc-typehints
sphinx-automodapi
sphinx-basic-ng
sphinx-copybutton
sphinx-design
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxext-opengraph
myst_parser
nbsphinx
furo
linkify-it-py
# for package
requests
requests-cache>=1.0.0
typeguard>=4.0.0
pandas
numpy
tqdm
ipykernel
seaborn
stopit
openpyxl
